@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}


/* colors */

:root {
    --three-color: #71D962;
    --second-color: #D9D6A9;
    --text-color: #1D4014;
    --container-color: #7DBF5E;
    --bg-color: #fff;
    --color-one: #9FA66A;
    --color-two: #D9D6A9;
}

::selection {
    color: var(--bg-color);
    background: var(--second-color);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

section {
    padding: 3rem 0 2rem;
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 200;
}

header.shadow {
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
    transition: 0.4s;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.logo {
    font-style: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
}

.logo span {
    color: var(--second-color);
}

.home {
    width: 100%;
    min-height: 440px;
    background: var(--container-color);
    display: grid;
    justify-content: center;
    align-items: center;
}

.homeText {
    color: var(--text-color);
    text-align: center;
}

.homeTitle {
    font-size: 3.5rem;
}

.homeSubtitle {
    font-size: 1rem;
    font-weight: 400;
}

/* PostFilter */

.postFilter {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 1rem !important;
}

.filterItem {
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

.activeFilter {
    background: var(--container-color);
    color: var(--bg-color);
    padding: 4px 10px;
    border-radius: 4px;
}

/* Posts */

.post {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1.5rem;
}

.postBox {
    background: var(--bg-color);
    box-shadow: 0 5px 14px hsl(355deg 25% 15%/ 10%);
    padding: 15px;
    border-radius: 0.5rem;
}

.postImg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.category {
    font-size: 0.7rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #9FA66A;
}

.postTitle {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--three-color);
}

.postData {
    display: flex;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 4px;
}

.postDescription {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    display: -webkit-box;
    border-top: 1px solid #1D4014;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.footer p {
    font-size: 0.938rem;
}

.social {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.social .bx {
    font-size: 1.4rem;
    color: var(--text-color);
}

.social .bx:hover {
    color: var(--three-color);
}

.postHeader {
    width: 100%;
    height: 500px;
    background: var(--container-color);
}

.postContainer {
    max-width: 800px;
    margin: auto;
    width: 100%;
}

.headerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem !important;
}

.backHome {
    color: var(--three-color);
    font-size: 0.9rem;
}

.headerTitle {
    width: 90%;
    font-size: 2.6rem;
    color: var(--bg-color);
    text-align: center;
    margin-bottom: 1rem;
}

.headerImg {
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: center;
}


@media (max-width:1060px) {
    .container {
        width: 95%;
        margin: 0 auto;
    }

    .homeText {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .nav {
        padding: 14px 0;
    }

    .postContainer {
        margin: 0;
        width: 95%;
    }
}

@media (max-width: 768px) {
    .nav {
        padding: 10px 0;
    }

    section {
        padding: 2rem 0;
    }

    .headerContent{
        margin-top: 3rem !important;
    }

    .home{
        min-height: 380px;
    }

    .homeTitle{
        font-size: 3rem;
    }

    .headerTitle{
        font-size: 2rem;
    }
    .headerImg{
        height: 370px;
    }

    .postHeader{
        height: 435px;
    }
}

@media (max-width:570px){
    .postHeader{
        height: 390px;
    }
    .headerTitle{
        width: 100%;
    }
    .headerImg{
        height: 340px;
    }
    .footer{
        flex-direction: column;
        row-gap: 1rem;
        padding: 20px 0;
        text-align: center;
    }
}

@media (max-width:396px){
    .homeTitle{
        font-size: 2rem;
    }
    .homeSubtitle{
        font-size: 0.9rem;
    }
    .home{
        min-width: 300px;
    }
    .postBox{
        padding: 10px;
    }
}